.trust {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.trust-box {
  width: 90%;
}

.trust-box>div>h2 {
  color: black;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  margin-top: 100px;
  margin-bottom: 10px;
}

.tr-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.tr-text>div {
  display: inline-block;
}

.tr-text>div:nth-child(1) p {
  font-size: 29px;
  font-weight: 320;
  line-height: 39px;
  color: #19191c;
}

.tr-text>div:nth-child(1) {
  width: 900px;
}

.tr-text>div:nth-child(2)>div {
  display: inline-block;
  margin: 50px 10px;
}

.t1 {
  font-size: 69px;
  font-weight: 420;
  line-height: 45px;
}

.t2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.ma {
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  background-image: radial-gradient(circle at 70% 5%,
      rgb(182, 68, 255)1%,
      rgb(182, 68, 255)10%,
      rgb(107, 87, 255) 60%,
      rgb(107, 87, 255));
}

.ma>div:nth-child(1) {
  background-image: url(../img/马庆强.png);
  width: 400px;
  height: 400px;
  background-size: cover;
  border-radius: 20px 0px 0px 20px;
}

.ma>div:nth-child(2) {
  display: inline-block;
  justify-self: center;
  margin: 20px;
}

.ma>div:nth-child(2) h2 {
  color: white;
  font-weight: 300;
  font-size: 36px;
}

.ma>div:nth-child(2)>h2:nth-child(2) {
  margin-top: 50px;
  font-weight: 600;
  font-size: 24px;
}

.ma>div:nth-child(2)>h2:nth-child(3) {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.kao>h2 {
  color: #19191c !important;
  font-weight: 200 !important;
  font-size: 30px !important;
}

.zhimingdaxue {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  align-content: center;
  margin: 50px 0px;
}

.zhimingdaxue>div:nth-child(1) {
  margin: 10px;
  background-image: url(../img/清华大学.png);
  background-size: cover;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);

  border-radius: 50%;
}

.zhimingdaxue>div:nth-child(2) {
  margin: 10px;
  background-image: url(../img/北京大学.png);
  background-size: cover;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);

  border-radius: 50%;
}

.zhimingdaxue>div:nth-child(3) {
  margin: 10px;
  background-image: url(../img/厦门大学.png);
  background-size: cover;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);

  border-radius: 50%;
}

.zhimingdaxue>div:nth-child(4) {
  margin: 10px;
  background-image: url(../img/吉林大学.png);
  background-size: cover;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

.zhimingdaxue>div:nth-child(5) {
  margin: 10px;
  background-image: url(../img/复旦大学.png);
  background-size: cover;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

.zhimingdaxue>div:nth-child(6) {
  margin: 10px;
  background-image: url(../img/郑州大学.png);
  background-size: cover;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

.school-video {
  margin-bottom: 100px;
  width: 100%;
  height: 80vh;
}

.school-video>iframe {
  border-radius: 20px;
}