.bgi {
  background-color: #ff5e5e;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;

}

* {
  font-family: Rajdhani;
}

.big {
  width: 60%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;

}

.txt {
  color: rgb(0, 0, 0);
  font-size: 36px;
  font-weight: 700;
  margin: 5px;
  font-family: Rajdhani, sans-serif;
  letter-spacing: 2px;
}

.imgx {
  background-image: url(./PS.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 123px;
  height: 119px;
}