* {
  margin: 0;
  padding: 0;
  font-family: var(--rs-font-family-headers, var(--rs-font-family-jb-sans, "JetBrains Sans", Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Droid Sans", "Helvetica Neue", Arial, sans-serif));
}

body {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.b1 {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.b1>div:nth-child(1) {
  position: relative;
  top: 0px;
  left: 0px;
  width: 95%;
  height: 80px;
  border-radius: 500px;
  background-color: #424242;
  box-shadow: 0px 0px 50px rgba(40, 40, 40, 0);
}

.b1:hover div:nth-child(1),
.b1:hover div:nth-child(2),
.b1:hover div:nth-child(3) {
  background-color: #ffffff;
  box-shadow: 0px 0px 50px white;
}

.b1>div:nth-child(2) {
  position: relative;
  top: -130px;
  left: -60px;
  width: 100px;
  height: 100px;
  border-radius: 500px;
  background-color: #424242;
  box-shadow: 0px 0px 50px rgba(40, 40, 40, 0);
}

.b1>div:nth-child(3) {
  position: relative;
  top: -270px;
  left: 24px;
  width: 160px;
  height: 160px;
  border-radius: 500px;
  background-color: #424242;
  box-shadow: 0px 0px 80px rgba(40, 40, 40, 0);
}

.b1>h1 {
  color: white;
  position: relative;
  top: -120px;
  left: 0px;
}

.b1:hover {
  cursor: pointer;
}