.food-1 {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.food-2 {
  width: 90%;
}

.food-2>ul {
  list-style-type: none;
}

.food-2>ul>li>div {
  margin: 30px;
  background-color: rgb(250, 250, 250);
  width: 100%;
  height: 300px;
  border-radius: 15px;
}